.container{
    display: flex;
    flex-direction: column;    
    margin: 50px auto;
    width: 40%;
    height: 20%;
    position: relative;
   background-image: url("https://i.makeagif.com/media/3-16-2018/sX7-6p.gif"); 
   border-radius: 5px;

}
h3{
    text-align: center;
    color: aliceblue;
}
form{
    align-content: center;
    border: 1px solid goldenrod;
    margin: 10px auto;
    width: 50%;
}
.button-section{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    position: relative;
    margin: auto;
    padding: auto;
    
}
input{    
    padding: 5px;
    margin: 10px;
    width:90% ;
}
input:focus{
background-color: steelblue;
opacity: 0.35;
color: aliceblue;
}

.btn{
    padding: 10px;
    margin: 10px 50px;

}